<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groupproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Not Cinema App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GROUPPROJECT">
        <activity android:name=".bookinginfo"></activity>
        <activity android:name=".showingmovie" />
        <activity android:name=".comingsoonmovie2" />
        <activity android:name=".comingsoonmovie" />
        <activity android:name=".viewmenu" />
        <activity android:name=".changeprofile" />
        <activity android:name=".changepassword" />
        <activity android:name=".activity_viewprofile" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity_forgotpassword" />
        <activity android:name=".activity_signup" />
        <activity android:name=".activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>